/************************************************************* GENERAL *********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ************************************************************ UTILITY ***** */

.container{
  /* margin: 0 auto; */
  padding: 20px 40px;
}

.debug{
  background-color: blueviolet;
  border: 1px solid black;
  width: 100%;
  height: 250px;
}

.debug-big{
  background-color: blueviolet;
  border: 1px solid black;
  width: 100%;
  height: 500px;
  
}

.row{
  flex-direction: column;
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.flex-column{
  flex-direction: column;
}

.flex-shrink{
  flex-shrink: 0;
}

.flex-wrap{
  flex-wrap: wrap;
}

/* ******************************************************** HEADER ********* */

header{
  background-color: aqua;
}


/* *********************************************************** MAIN ********* */
