/************************************************************* GENERAL *********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ************************************************************ UTILITY ***** */

.container{
  /* margin: 0 auto; */
  padding: 20px 40px;
}

.debug{
  background-color: #b5ddff;
  border: 1px solid black;
  width: 100%;
  height: 250px;
}

.debug-big{
  background-color: #b5ddff;
  border: 1px solid black;
  width: 100%;
  height: 500px; 
}

.row{
  flex-direction: column;
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.flex-column{
  flex-direction: column;
}

.flex-shrink{
  flex-shrink: 0;
}

.flex-wrap{
  flex-wrap: wrap;
}

/* ******************************************************** HEADER ********* */

header{
  background-color: #0084fd;
}


/* *********************************************************** MAIN ********* */

/********************************** INTRO-MAIN */

#intro-main{
  padding: 30px 0;
}

.half{
  height: 50%;
}

/* ***************************** Planning */

#planning{
  background-color: #9792e4;
}

/* ***************************** Testimonial */

#testimonial {
  padding: 30px 0;
}

.card-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
}

#testimonial .col{
  flex-direction: column;
}