/************************************************************* GENERAL *********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body{
  font-family: 'PT Sans', sans-serif;
}

/* ************************************************************ UTILITY ***** */

.container{
  margin: 0 auto;
  width: 90%;
}

.debug{
  background-color: #b5ddff;
  border: 1px solid black;
  width: 100%;
  min-height: 250px;
}

.row{
  flex-direction: column;
}

.flex-direction{
  flex-direction: column;
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.flex-shrink{
  flex-shrink: 0;
}

/* ******************************************************** HEADER ********* */

header{
  background-color: #0084fd;
  padding: 20px;
  color: white;
}

.menu{
  display: none;
}

.fa-bars{
  font-size: 2rem;
}

header li{
  margin-right: 30px;
}

header li:last-child{
  margin-right: 0;
}

header .button{
  color: black;
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
}

header a{
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}


/* *********************************************************** MAIN ********* */

/********************************** INTRO-MAIN */

#intro-main{
  padding: 30px 0;
}

#intro-main h2{
  color: #0084fd;
  padding: 30px 20px 0 20px;

  font-size: 1.5rem;
}

.col{
  padding: 10px;
}

#intro-main p{
  margin: 30px 20px;
  color: #5a6e7f;
  line-height: 1.5;
}

#intro-main a{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px 50px;
  background-color: #0084fd;
  border-radius: 40px;
  margin-left: 20px;
}

#intro-main a strong{
  padding-left: 8px;
}

#intro-main .fa-solid{
  color: #0084fd;
  font-size: 4rem;
}

#intro-main .fa-solid.fa-apple{
  color: white;
}

.card-big{
  background-color: #b5ddff;
  border-radius: 20px;
  padding: 0 10px;
  width: 100%;
}

.half img{
  width: 220px;
  padding-top: 30px;
}

.card{
  padding-top: 20px;
  background-color: #b5ddff;
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.half{
  height: 50%;
}

/* ***************************** Planning */

#planning{
  padding: 30px;
  background-color: #9792e4;
}

#planning p{
  padding: 40px 0;
  line-height: 1.5;
  font-style: italic;
}

#planning .card-app p{
  font-style: italic;
}

.card-planning img{
  width: 100%;
  padding-bottom: 80px;
}
.card-app img{
  width: 100%;
}

.card-planning{
  color: white;
}

.card-app{
  text-align: center;
  background-color: white;
  border-radius: 40px;
  padding: 30px 20px;
}

#planning .col{
  padding: 20px;
}

#planning a{
  color: black;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  background-color: #9792e4;
}

/* ***************************** Testimonial */

#testimonial {
  padding: 30px 0;
}

.card-testimonial{
  background-color: #9792e4;
  border-radius: 40px;
  padding: 20px;
  color: white;
}

.card-img img{
  margin: 20px 20px 30px 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;  
  border-radius: 50%;
}

.card-text{
  margin-left: 30px;
}

#testimonial p{
  padding-bottom: 20px;
  line-height: 1.5;
}

/* ************************* Benefits */

#benefits{
  padding: 30px 0;
  background-color: #9792e4;
}


#benefits h2{
  color: white;
  font-size: 2rem;
  padding: 30px;
}

#benefits .card-benefits h2{
  color: #9792e4;
  font-size: 3rem;
  padding: 0;
}

#benefits .card-benefits h3{
  color: #9792e4;
  padding-top: 20px;
}

#benefits .card-benefits p{
  padding: 20px 0 40px 0;
  line-height: 1.5;
}

#benefits .card-benefits a{
  text-decoration: none;
  color: white;
  background-color: #9792e4;
  padding: 8px 40px;
  border-radius: 20px;
}

.card-benefits{
  padding: 50px 25px;
  background-color: white;
  border-radius: 15px;
}


/* **************************** About */

#about{
  padding: 30px 20px;
}

#about h2{
  padding-bottom: 15px;
  font-size: 3rem;
  color: #9792e4;
}

#about p{
  padding: 15px 50px 15px 0;
  line-height: 2;
}

#about h4{
  font-size: 1.3rem;
  color: #9792e4;
  padding: 0px 40px 20px 0;
  line-height: 2;
}

#about a{
  font-size: 0.8;
  text-decoration: none;
  color: white;
  background-color: #9792e4;
  padding: 5px 10px;
  border-radius: 30px;
}

#about .card-img{
  position: relative;
  width: 250px;
}

#about .fa-quote-left{
  position: absolute;
  font-size: 4rem;
  color: #9792e4;
  top: 0;
  right: 15%;
}

/* *************************** Started */

#started{
 padding: 20px 0; 
 background-color: #9792e4;
}

/* ************************************************** Footer *****************/
footer{
  background-color: black;
  padding: 10px 0;
}

footer p{
  color: white;
}


/* **************************************************** RESPONSIVE ********/


/* ************************* => 768px */

@media screen and (min-width:768px){

  #intro-main .row,
  #benefits .row,
  #about .row{
    flex-direction: row;
    flex-wrap: wrap;
  }

 #intro-main .col{
  width: calc(100% / 3);
 }

 #intro-main #big.col{
  width: calc(100% / 3 * 2);
 }

 #testimonial .flex-direction{
  flex-direction: row;
 }

 #benefits .col{
  gap: 20px;
  width: calc(100% / 2);
 }

 #about .col{
   width: 65%;
 }
 #about .col.flex-direction{
  width: 35%;
 }

}


/************************************** >= 1200px  */

@media screen and (min-width:1200px){

  .container{
    max-width: 1100px;
  }

  .card-big{
    display: flex;
  }

  .half{
    height: 100%;
    width: 50%;
  }

  #planning .container{
    max-width: 900px;
  }

  #planning .row{
    flex-direction: row;
  }

  #planning .col{
    width: 50%;
  }

  #benefits .col{
    width: calc(100% / 3);
  }

  .icon{
    display: none;
  }

  .menu{
    display: block;
  }

  .card-app img{
    width: 250px;
  }

  .card-top{
    height: 20%;
  }

  .card-bot{
    height: 80%;
  }
  
}


